@using MyEverNote.WebApp

@model IEnumerable<MyEvernote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-10 col-md-offset-1"><h2>Kategoriler</h2></div>
    <hr />
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-" 1">
        <p>
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="/Category/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Create
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "warning", "btn-xs", "Edit", "edit", string.Empty)

                        @Bootstrap.LinkButton("/Category/Details/" + item.Id, "info", "btn-xs", "Details", "search", string.Empty)

                        @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-xs", "Delete", "trash", string.Empty)


                        @*----BUNLARI HELPERLARLA OLUŞTURDUGUM ICIN YORUMA ALDIM*@
                        @*<a href="/Category/Edit/@item.Id" class="btn btn-warning btn-xs"  title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/Category/Details/@item.Id" class="btn btn-info btn-xs" title="Details">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                            <a href="/Category/Delete/@item.Id" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>*@


                        @*--------------------------------*@

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>